css
body{
    margin: auto;
    padding: 0;
    font-family: 'Segoe UI', Arial, sans-serif;
    justify-items: center;
}

/* Top navigation */
.top-nav{
    display: flex;
    gap:200px;
    justify-content: center;
}
.top-nav h1{
    color: green;
}
.a{
    margin-right: 500px;
    

}
.b{margin-left: 700px;
    margin-bottom: 40px;
    
}
.button a{
    width: 60px;
    height: 30px;
    background-color: #4caf50;
    color: white;
    border-radius: 3px;
    cursor: pointer
}
.button a{
    text-decoration: none;
    font-style: normal;
    font-weight: bold;
    
    
}


.search-container{
    display: flex;
    align-items: center;
}

.search-container input[type="text"]{
  padding: 6px;
  font-size: 16px; 
  width: 300px;
  border-radius: 50px; 
}
.search-container button{
    padding: 6px 10px;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    margin-left: 10px;
}
.search-container button:hover{
    background-color: #4caf50;
}
.login-button{
    background-color: solid #4caf50;
    color: white;
    padding: 8px 16px;
    border-radius: 50px;
    cursor: pointer;
    margin-left: 220px;
}
.login-button:hover{
    background-color: #45a049;
}
.tech-list{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px;
    background-color: black;
    max-width:900px ;
    margin-left: 220px;
    margin-top: 5px;
     
}   
.tech-list ul{
    list-style: none;
    display: flex;
    padding: 0;
    width: max-content;   
}
.tech-list ul li{
    margin:0 25px;
}  
.tech-list ul li a{
    text-decoration: none;
    color: white ;
  
}


/* Main content */
.content {
    max-width: 800px;
    margin: 0 auto;
    padding: 40px;
    background-color: rgb(131, 253, 132);
    height: 250px;
}
.content p{
    font-size: 1.2em;
    line-height: 1.6;
}



.tutorial-header{
    padding: 20px;
    border-radius: 5px;
    height:250px;
    max-width: 800px;
    margin: 0 auto;
}

.content h1 p{
    background-color: #4caf50;
}
.tutorial-header h1{
    font-size: 2.5em;
    margin-top: 20px;
}
/* Buttons */
.cta-buttons {
    margin-top: 2rem;
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.btn {
    text-decoration: none;
    border-radius: 4px;
    color: white;
    cursor: pointer;
       
}

.tutorial-btn {
    background-color: darkgreen;
    height: 25px;
    width: 250px;
    border-radius: 3px;
    border: none;
    margin-bottom:5px ;
}

.video-btn {
    background-color: #000;
    height: 25px;
    width: 200px;
    border-radius: 3px;
    margin-bottom: 5px;

}




    
