
.main-content{
    display: flex;
}
.main-content> .c1, .c2, .c3{
    width: 400px;
    margin:5px ;
    padding: 6px;
    background-color:violet ;
}
@media screen and (min-width:500px){
    body{
        background-color: red;
    }
}
.main-content> .c1, .c2, .c3{
    width:100%;
    
    
    
}