body{
 font-family: Arial, Helvetica, sans-serif;   
/* }
#img2container{
    display: inline-block;
    background-color: transparent;
    width: 300px;
    height: 200px;
    text-align: center;
}
#scaleimage{
    display: block;
    transition: none;
    width: 100%;
    height: 100%; */
}